@model ML.Alumno
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <h2>Alumno</h2>
    </div>
    <hr />
    <div class="row">
        <div style="float:right">
            @Html.ActionLink("+", "Form", "Alumno", htmlAttributes: new { @class = "btn btn-success" })
        </div>
    </div>
    <hr />
    <div class="row">
        @if (Model.Alumnos != null)
        {
            //tabla
            <table class="table table-bordered table-responsive">
                <thead>
                    <tr>
                        <td class="text-center" style=" font-weight:bold;">Editar</td>

                        <td class="hidden">IdAlumno</td>
                        <td class="text-center" style=" font-weight:bold;">Nombre</td>
                        @*<td class="text-center" style=" font-weight:bold;">Apellido Paterno</td>
                            <td class="text-center" style=" font-weight:bold;">Apellido Materno</td>*@
                        <td class="text-center" style=" font-weight:bold;">Fecha Nacimiento</td>
                        <td class="text-center" style=" font-weight:bold;">Semestre</td>
                        <td class="text-center" style=" font-weight:bold;">Imagen</td>

                        <td class="text-center" style=" font-weight:bold;">Eliminar</td>
                    </tr>
                </thead>

                <tbody>
                    @foreach (ML.Alumno alumno in Model.Alumnos)
                    {
                        <tr>
                            <td class="text-center"><a class="btn btn-warning glyphicon glyphicon-edit" href="@Url.Action("Form", "Alumno", new { IdAlumno = alumno.IdAlumno })"></a></td>

                            <td class="hidden">@alumno.IdAlumno</td>
                            <td>@alumno.Nombre @alumno.ApellidoPaterno @alumno.ApellidoMaterno</td>
                            @*<td>@alumno.ApellidoPaterno</td>
                                <td>@alumno.ApellidoMaterno</td>*@
                            <td>@alumno.FechaNacimiento</td>
                            <td class="hidden">@alumno.Semestre.IdSemestre</td>
                            <td>@alumno.Semestre.Nombre</td>
                            <td>
                                @if (alumno.Imagen != null)
                                {

                                    <img id="Img" src="data:image/*;base64,@alumno.Imagen" style="width:250px ; height:250px" />

                                }
                                else
                                {
                                    <img id="Img" src="~/Imagenes/SinImagen.png" style="width:250px ; height:250px" />
                                }
                            </td>


                            <td class="text-center"><a class="btn btn-danger glyphicon glyphicon-erase" href="@Url.Action("Delete", "Alumno", new { IdAlumno = alumno.IdAlumno })" onclick="return confirm('Estas seguro que deseas eliminar este registro?');"></a></td>
                        </tr>
                    }
                </tbody>
            </table>


        }
        else
        {
            <div class="alert alert-danger" role="alert">Ocurrio un error al realizar la consulta </div>
        }
    </div>
</div>





